{% extends 'crm.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_messages %}
{% block title %} Редактирование заявки {% endblock %}

{% block nav %}
    {% include 'partial/left_nav.html' with page='index' %}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between mb-3">
        <div>
            <h4>Редактирование заявки
                <strong>{{ application.applicant_name }} {{ application.applicant_surname }}</strong></h4>
        </div>
        <div>
            <p>Текущий статус заявки: <strong>{{ application.statuses.all.last }}</strong></p>
        </div>
    </div>
    <form class="forms-sample" action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}

            {% bootstrap_form form %}
        </div>

        <div class="d-flex justify-content-between">
            <div>
                <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                       class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                       value="Сохранить">
                <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                       class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                       value="Сохранить и Закрыть" disabled>
            </div>
            <div>
                <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                       class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                       value="Создать ученика" disabled>

                <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                       class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                       value="Создать родителя" disabled>
            </div>
            <input type="submit" value="Отклонить заявку" disabled>

        </div>
    </form>


    <script src="{% static 'js/phone-mask.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        $('input[type=checkbox]').on('change', function (e) {
            if ($('input[class=subject-check]:checked').length > 4) {
                $(this).prop('checked', false);
                alert("Выберите не более 4-х предметов");
            }
            let checked = $('input[class=subject-check]:checked').length
            console.log(checked)
            $.ajax({
                url: `/api/get_sum`,
                type: "POST",
                data: JSON.stringify({
                    'package': checked
                }),
                success: function (data) {
                    console.log(data)
                    $('#id_sum').val(data.sum)
                },
                error: function (data) {
                    $('#id_sum').val(0)
                    console.log('error')
                }
            });
        });
    </script>
    <script>
        $('#id_parents_inn').unbind('keyup change input paste').bind('keyup change input paste', function (e) {
            var $this = $(this);
            var val = $this.val();
            var valLenght = val.length;
            var maxCount = 12;
            if (valLenght > maxCount) {
                $this.val($this.val().substring(0, maxCount));
            }
        });
    </script>


{% endblock %}