{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Добавление нового предмета {% endblock %}

{% block nav %}
    {% include 'partial/left_nav.html' with page='index' %}
{% endblock %}

{% block content %}
    <p class="card-title">Редактирование заявки
        <strong>{{ application.applicant_name }} {{ application.applicant_surname }}</strong></p>
    <form class="forms-sample" action="" method="post">
            {% csrf_token %}
                <div class="form-group">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </div>
            <div class="mt-3">
                <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                       class="btn btn-block border-0 btn-primary btn-lg font-weight-medium auth-form-btn"
                       value="Зарегистрировать">
            </div>
        </form>
{% endblock %}