{% extends 'crm.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Редактирование группы {% endblock %}

{% block nav %}
    {% include 'partial/left_nav.html' with page='group' %}
{% endblock %}


{% block content %}

<div class="d-flex justify-content-between mb-3">
    <div>
        <h5>Редактирование группы
            <strong>{{ grouping.name }}</strong></h5>
    </div>
    <div>
    <p>Текущий преподаватель группы: <strong>{{grouping.teacher_groupings.last.teacher}}</strong></p>
        <p>Начал преподавать: {{grouping.teacher_groupings.last.started_at}}</p>   
    </div>
</div>

    <form class="forms-sample" action="{% url 'grouping_update' grouping.pk %}" method="POST">
        {% csrf_token %}
{#        <div class="form-group">#}
{#            {{ form.name }}#}
{#        </div>#}
{#        {% for error in form.name.errors %}#}
{#            <div class="ms-2 text-danger">{{ error }}</div>#}
{#        {% endfor %}#}
{#        <div class="form-group">#}
{#            {{ form.subject }}#}
{#        </div>#}
{#        {% for error in form.subject.errors %}#}
{#            <div class="ms-2 text-danger">{{ error }}</div>#}
{#        {% endfor %}#}
{#        <div class="form-group">#}
{#            {{ form.teachers }}#}
{#        </div>#}
{#        {% for error in form.teachers.errors %}#}
{#            <div class="ms-2 text-danger">{{ error }}</div>#}
{#        {% endfor %}#}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-inverse-primary mr-2 mt-3">Сохранить</button>
        <a href="{% url 'groupings' %}" class="btn btn-inverse-dark mt-3">Отмена</a>
    </form>
    <hr>
    <center><strong>Открепить преподавателя</strong></center>

    <form class="forms-sample" action="{% url 'remove_teacher_from_grouping' grouping.pk %}" method="POST">
        {% csrf_token %}
        Выберите дату окончания преподавания:<br>
        <input type="date" name="finished_at" required><br>
        <button type="submit" class="btn btn-inverse-primary mr-2 mt-3">Открепить</button>
    </form>
    <hr>
    <center><strong>Прикрепить преподавателя</strong></center>
    <form class="forms-sample" action="{% url 'add_teacher_to_grouping' grouping.pk %}" method="POST">
        {% csrf_token %}
        Выберите преподавателя:
        <select name="teacher_pk" id="teacher_select">
            {% for teacher in teachers %}
                <option value="{{ teacher.pk }}">{{ teacher }}</option>
            {% endfor %}
        </select><br>

        Выберите дату начала преподавания:<br>
        <input type="date" name="started_at" required><br>
        <button type="submit" class="btn btn-inverse-primary mr-2 mt-3">Сохранить</button>
    </form>

{% endblock %}