{% extends 'base.html' %}
{% load static %}
{% block title %} Добавление нового предмета {% endblock %}

{% block nav %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'main' %}">
        <i class="ti-shield menu-icon"></i>
        <span class="menu-title">Доска</span>
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'subjects' %}">
        <i class="ti-layers-alt menu-icon"></i>
        <span class="menu-title">Предметы</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="ti-clipboard menu-icon"></i>
        <span class="menu-title">Заявки</span>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="ti-layers-alt menu-icon"></i>
        <span class="menu-title">Предметы</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="">Все предметы</a></li>
          <li class="nav-item"> <a class="nav-link" href="">+ Предмет</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="ti-user menu-icon"></i>
        <span class="menu-title">Ученики</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="ti-ruler-pencil menu-icon"></i>
        <span class="menu-title">Преподаватели</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="ti-home menu-icon"></i>
        <span class="menu-title">Родители</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="ti-agenda menu-icon"></i>
        <span class="menu-title">Расписание</span>
      </a>
    </li> -->
  </ul>
</nav>
{% endblock %}

{% block content %}
<p class="card-title">Добавление нового предмета</p>
<form class="forms-sample" action="{% url 'subject_add' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{ form.name }}
    </div>
    {% for error in form.name.errors %}
    <div class="ms-2 text-danger">{{ error }}</div>
    {% endfor %}
    <div class="form-check form-check-flat form-check-info">
        <label class="form-check-label">
            {{ form.is_required }}
            <!-- <input type="checkbox" class="form-check-input"> -->
            Обязательный
        <i class="input-helper"></i></label>
    </div>
    {% for error in form.is_required.errors %}
    <div class="ms-2 text-danger">{{ error }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-inverse-primary mr-2 mt-3">Сохранить</button>
    <a href="{% url 'subjects' %}" class="btn btn-inverse-dark mt-3">Отмена</a>
  </form>
{% endblock %}