{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    {% block content %}
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo text-center">
                <img src="{% static 'images/logo-g.png' %}" alt="logo">
              </div>
              <h6 class="font-weight-light">Заполните все поля и выберете интересующие Вас предметы:</h6>
              <form class="pt-3" action="" method="post">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field }}
                </div>
                {% endfor %}

                <div class="mt-3">
                  <a style="background:linear-gradient(90deg, #c352eb, #8adabd)" class="btn btn-block border-0 btn-primary btn-lg font-weight-medium auth-form-btn" href="../../index.html">ОСТАВИТЬ ЗАЯВКУ</a>
                </div>
                <div class="mt-3 text-center">
                    <a href="{% url  'login' %}">ВОЙТИ В СИСТЕМУ</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
    {% endblock %}
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
</body>

</html>

