{% extends "crm.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %}смена пароля{% endblock %}

{% block content %}
    <p class="card-title">Смените свой пароль</p>
    <p>Для смены пароля воспользуйтесь формой ниже</p>
            <form class="forms-sample" action="." method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% bootstrap_form form %}
                </div>
                <div class="mt-3">
                        <p><input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                            class="btn btn-block border-0 btn-primary btn-lg font-weight-medium auth-form-btn"
                            value="Сменить">
                        </p>
                </div>
            </form>
        </div>
    </div>

{% endblock %}