{% extends "index.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Сбросить пароль{% endblock %}

{% block content %}
<p class="card-title">Забыли пароль?</p>
    <p>Введите ваш e-mail для смены пароля.</p>

    <form class="forms-sample" action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            {% bootstrap_form form %}
        </div>
        <div class="mt-3">
            <p><input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                class="btn btn-block border-0 btn-primary btn-lg font-weight-medium auth-form-btn"
                value="Отправить e-mail"></p>
        </div>
    </form>
{% endblock %}
