{% extends "index.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Сбросить пароль{% endblock %}

{% block content %}
    <p class="card-title"> Сброс пароля</p>
    {% if validlink %}
        <p>Пожалуйста введите новый пароль дважды:</p>
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-group">
                {% bootstrap_form form %}
            </div>
            <p><input type="submit" tyle="background:linear-gradient(90deg, #c352eb, #8adabd)"
                class="btn btn-block border-0 btn-primary btn-lg font-weight-medium auth-form-btn"
                value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Сбой ссылки на сброс пароля, возможно ссылка была уже использованаused.
            Пожалуйста снова повторите запрос на сброс пароля.</p>
    {% endif %}
{% endblock %}

