<!DOCTYPE html>
{% load static %}
{% load auth_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quantum Group</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
</head>
<body>
{% include 'partial/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-flush mb-auto text-center row">
                {% if user|has_group:"admin" %}
                <li class="nav-item col-sm-7">
                    <a href="{% url 'user_delete' user.pk  %}" class="nav-link active py-3 border-bottom" aria-current="page" title=""
                       data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                        Удалить пользователя
                    </a>
                </li>
                <li class="nav-item col-sm-7">
                    <a href="{% url 'account_change' user.pk %}" class="nav-link active py-3 border-bottom" aria-current="page" title=""
                       data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                        Редактировать пользователя
                    </a>
                </li>
                    <li class="nav-item col-sm-7">
                        <a href="{% url 'show_applications' %}" class="nav-link active py-3 border-bottom" aria-current="page" title=""
                           data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home"> Заявки
                        </a>
                    </li>
                    <li class="nav-item col-sm-7">
                        <a href="{% url 'register_student' %}" class="nav-link active py-3 border-bottom"
                           aria-current="page"
                           title=""
                           data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            Добавить студента
                        </a>
                    </li>
                    <li class="nav-item col-sm-7">
                        <a href="{% url 'register_teacher' %}" class="nav-link active py-3 border-bottom"
                           aria-current="page"
                           title=""
                           data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            Добавить преподавателя
                        </a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item col-sm-7">
                        <a href="{% url 'register_admin' %}" class="nav-link active py-3 border-bottom"
                           aria-current="page"
                           title=""
                           data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            Добавить админа
                        </a>
                    </li>
                    {% endif %}

                {% else %}
                <li class="nav-item col-sm-7">
                    <a href="#" class="nav-link active py-3 border-bottom" aria-current="page"
                       title=""
                       data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                        Кнопка для теста
                    </a>
                </li>
                
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-7">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>