{% extends 'crm.html' %}
{% load static %}
{% block title %} Регистрация {% endblock %}
{% load bootstrap5 %}
{% block nav %}
    {% include 'partial/left_nav.html' with page='register_student' %}
{% endblock %}
{% block content %}
    <p class="card-title">Зарегистрировать пользователя</p>
    <div class="card-body">
        <form class="forms-sample" action="" method="post">
            {% csrf_token %}
                <div class="form-group">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </div>
            <div class="mt-3">
                <input type="submit"
                       class="btn btn-inverse-primary font-weight-medium auth-form-btn"
                       value="Зарегистрировать">
            </div>
        </form>
    </div>
{% endblock %}