__pycache__
db.sqlite3
venv
.idea
.DS_Store
media
.env
.vscode
uploads

/source/accounts/migrations/*
!/source/accounts/migrations/__init__.py

/source/education/migrations/*
!/source/education/migrations/__init__.py
