{% extends 'crm.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_messages %}
{% block title %} Редактирование заявки {% endblock %}

{% block nav %}
    {% include 'partial/left_nav.html' with page='index' %}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between mb-3">
        <div>
            <h4>Редактирование заявки
                <strong>{{ application.applicant_name }} {{ application.applicant_surname }}</strong></h4>
        </div>
        <div>
            <p>Текущий статус заявки: <strong>{{ application.application_statuses.last.status.name }}</strong></p>
        </div>
    </div>


    <!-- форма редактирования общих сведений заявки -->
    
    <div class="col-lg-11 col-lg-offset-2">
        <form id="contact-form" method="post" action="{% url 'application_custom_update' application.pk %}" role="form">
            {% csrf_token %}
            <div class="messages"></div>
            <div class="controls">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Имя ученика *</label>
                        {{application_custom_form.applicant_name}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Фамилия ученика *</label>
                        {{application_custom_form.applicant_surname}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Дата рождения *</label>
                        {{application_custom_form.birth_date}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Пол *</label>
                        {{application_custom_form.sex}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email *</label>
                        {{application_custom_form.email}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Телефон</label>
                        {{application_custom_form.phone}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Номер школы</label>
                        {{application_custom_form.school}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Номер класса</label>
                        {{application_custom_form.class_number}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Номер смены</label>
                        {{application_custom_form.shift}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Фамилия родителя</label>
                        {{application_custom_form.parents_surname}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Имя родителя</label>
                        {{application_custom_form.parents_name}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>ИИН родителя</label>
                        {{application_custom_form.parents_inn}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email родителя</label>
                        {{application_custom_form.parents_email}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Адрес</label>
                        {{application_custom_form.address}}
                        {{application_custom_form.address.help_text}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Желаемое время обучения</label>
                        {{application_custom_form.lesson_time}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email родителя</label>
                        {{application_custom_form.parents_email}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Льгота</label>
                        {{application_custom_form.discount}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Сумма</label>
                        {{application_custom_form.sum}}
                    </div>
                </div>
            </div>
            <label>Предметы к обучению</label>
                <div class="col-md-12 form-group btn-group">
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <div class="form-group btn-group">
                            <div role="group" aria-label="Basic checkbox toggle button group">
                                <div role="group" class="label_parent">
                                    <div class="subject-check">
                                        {{application_custom_form.subjects}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
        
            <div class="d-flex justify-content-between">
                <div>
                    <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                        class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                        value="Сохранить">
                </div>
            </div>
        
        </form>
        
    </div><!-- /.col-lg-8 col-lg-offset-2 -->



    <hr width="100%" color="black" height="5%"/>
    <!-- форма просмотра и отправки договора -->
    <div>
        <div style="display:flex">
            <form class="forms-sample" id="send-application" action="{% url 'open_contract' application.pk %}" method="post"
                  enctype="multipart/form-data">
                <div class="form-group">
                    {% csrf_token %}
                    <div>
                        <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                               class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                               value="Открыть договор" {{ button_contract }}>

                    </div>
                </div>
            </form>
            <div>
                <input id="send-contract" type="submit"
                       style="background:linear-gradient(90deg, #c352eb, #8adabd); margin-left:1em"
                       class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                       value="Отправить договор на email" {{ button_contract }} data-pk={{ application.pk }}>
                <div>
                </div>
            </div>
        </div>
        <!-- форма прикрепления договора -->
        <form class="forms-sample" action="{% url 'application_contract_update' application.pk %}" method="post"
              enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}


                {% bootstrap_form application_contract_form %}
            </div>
            <div>
                <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                       class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                       value="Сохранить" {{ button_contract }}>
            </div>
        </form>
    </div>

    <hr width="100%" color="black" height="5%"/>


    <!-- форма оплаты -->
    <form class="forms-sample" action="{% url 'application_payed_update' application.pk %}" method="post"
          enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}


            {% bootstrap_form application_payed_form %}
        </div>
        <div>
            <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                   class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                   value="Сохранить" {{ button_payed }}>
        </div>
    </form>
    <hr width="100%" color="black" height="5%"/>


    <div class="d-flex justify-content-between">

        {% if application.application_statuses.last.status.name == 'Оплачена' %}
            <div>
                <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                       class="left btn  border-0 btn-primary font-weight-medium auth-form-btn create_student_by_application"
                       value="Создать ученика" {{ button_user }} data-application-id="{{ application.pk }}">

                <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                       class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                       value="Создать родителя" {{ button_user }}>
            </div>
        {% endif %}

        <!-- Button trigger modal -->
        <input type="submit" class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
               value="Отклонить заявку" data-bs-toggle="modal" data-bs-target="#exampleModal">

    </div>



    <!-- модальное окно отклонить заявку -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Отклонить заявку</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="forms-sample" action="{% url 'application_reject' application.pk %}" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            {% csrf_token %}


                            {% bootstrap_form application_reject_form %}
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                                    data-bs-dismiss="modal">Закрыть
                            </button>
                            <button type="submit"
                                    class="left btn  border-0 btn-primary font-weight-medium auth-form-btn">Сохранить
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <script src="{% static 'js/phone-mask.js' %}"></script>
    <script src="{% static 'js/sudject_checkbox.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        let checked_first = $('input[class=subject-check]:checked').length
        $.ajax({
            url: `/api/get_sum`,
            type: "POST",
            data: JSON.stringify({
                'package': checked_first
            }),
            success: function (data) {
                console.log(data);
                $('#id_sum').val(data.sum);
            },
            error: function (data) {
                $('#id_sum').val(0);
                console.log('error');
            }
        });
        $('input[type=checkbox]').on('change', function (e) {
            if ($('input[type=checkbox]:checked').length > 4) {
                $(this).prop('checked', false);
                alert("Выберите не более 4-х предметов");
            }
            let checked = $('input[type=checkbox]:checked').length;
            console.log(checked);
            $.ajax({
                url: `/api/get_sum`,
                type: "POST",
                data: JSON.stringify({
                    'package': checked
                }),
                success: function (data) {
                    //console.log(data);
                    $('#id_sum').val(data.sum);
                },
                error: function (data) {
                    $('#id_sum').val(0);
                    //console.log('error');
                }
            });
        });
    </script>
    <script>
        $('#id_parents_inn').unbind('keyup change input paste').bind('keyup change input paste', function (e) {
            var $this = $(this);
            var val = $this.val();
            var valLenght = val.length;
            var maxCount = 12;
            if (valLenght > maxCount) {
                $this.val($this.val().substring(0, maxCount));
            }
        });
    </script>
    <script>
        $('.create_student_by_application').on('click', function (e) {
            const applicationId = $(this).data('application-id')
            $.ajax({
                url: `/api/create-student-by-application/${applicationId}`,
                type: "POST",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    if (data.email) {
                        console.log(data.email)
                        $('#content').append(`<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert"  id="id_alert">
                          <strong>Студент с такой почтой уже существует</strong>
                          <button type="button" class="btn-close pb-2" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`)
                        setInterval(function () {
                                    $(`#id_alert`).remove()
                                }, 5000);
                    }
                        {#alert('Студент с такой почтой уже существует')#}
                     else if (data.phone) {
                        console.log(data.phone)
                        $('#content').append(`<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert"  id="id_alert">
                          <strong>Студент с таким номером телефона уже существует</strong>
                          <button type="button" class="btn-close pb-2" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`)
                        setInterval(function () {
                                    $(`#id_alert`).remove()
                                }, 5000);
                        {#alert('Студент с таким номером телефона уже существует')#}
                    } else if (data.success) {
                        console.log(data.success)
                        {#alert('Студент добавлен')#}
                        $('#content').append(`<div class="alert alert-success alert-dismissible fade show mt-2" role="alert"  id="id_alert">
                          <strong>Студент добавлен</strong>
                          <button type="button" class="btn-close pb-2" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`)
                        setInterval(function () {
                                    $(`#id_alert`).remove()
                                }, 5000);
                    }

                },
                error: function (data) {
                    console.log('error')
                    alert('Студент уже создан')
                }
            });
        })
    </script>
    <script>
        $('#send-contract').on('click', function (event) {
            let appId = $(this).attr("data-pk")
            $.ajax({
                url: `/send_contract/${appId}`,
                type: "POST",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    {#alert(data.answer)#}
                    $('#send-application').append(`<div class="alert alert-success alert-dismissible fade show mt-2" role="alert"  id="id_alert">
                          <strong>${data.answer}</strong>
                          <button type="button" class="btn-close pb-2" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`)
                        setInterval(function () {
                                    $(`#id_alert`).remove()
                                }, 5000);
                    console.log(data)
                }
            });
        });
    </script>

{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
{% endblock %}