{% extends 'base.html' %}
{% load static %}
{% block title %} Главная страница {% endblock %}

{% block nav %}
    {% include 'partial/left_nav.html' with page='index' %}
{% endblock %}

{% block content %}
    <p class="card-title text-center">Оставьте Вашу заявку</p>
        <div class="card-body">
            <h6 class="font-weight-light">Заполните все поля и выберете интересующие Вас предметы:</h6>
            <form class="forms-sample" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="mt-3">
                    <input type="submit" style="background:linear-gradient(90deg, #c352eb, #8adabd)"
                           class="btn btn-block border-0 btn-primary btn-lg font-weight-medium auth-form-btn"
                           value="ОСТАВИТЬ ЗАЯВКУ">
                </div>
            </form>
        </div>

    <script>
        console.log($('#id_applicant_name'))
        $('#id_applicant_name').addClass('form-control form-control-lg');
        $('#id_applicant_name').attr('placeholder', 'Имя');
        $('#id_applicant_surname').addClass('form-control form-control-lg');
        $('#id_applicant_surname').attr('placeholder', 'Фамилия');
        $('#id_email').addClass('form-control form-control-lg');
        $('#id_email').attr('placeholder', 'Почта');
        $('#id_phone').addClass('form-control form-control-lg');
        $('#id_phone').attr('placeholder', 'Телефон');
        $('input[name$="subjects"]').addClass('form-check-input');
        $('label').addClass('form-check-label text-muted');
        $('#id_subjects > div').addClass('form-check form-check-dark')
    </script>
{% endblock %}