<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quantum Group</title>
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
</head>
<body>
{% include 'partial/navbar.html' %}
<div class="bgImgCenter">
    <img src="https://thumb.tildacdn.com/tild3365-6639-4132-b930-326432653138/-/resize/727x/-/format/webp/_-1.png"
         alt=""/>
</div>
<div class="container">
    <h2 class="application_form">Оставьте Вашу заявку!</h2>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Оставить заявку">
    </form>
</div>
</body>
</html>