{% extends "profile_board.html" %}
{% load bootstrap5 %}
{% block content %}
    <section class="min-vh-100">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-12 col-xl-12">
                    <div class="card rounded-3">
                        <div class="card-body p-4">
                            <h4 class="text-center my-3 pb-3">Список Заявок</h4>
                            <table class="table mb-4">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Телефон</th>
                                    <th scope="col">Статус</th>
                                    <th scope="col">Выбранные предметы</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for application in applications %}
                                    <tr>
                                        <th scope="row">{{ application.pk }}</th>
                                        <td>{{ application.applicant_name }}</td>
                                        <td>{{ application.email }}</td>
                                        <td>{{ application.phone }}</td>
                                        <td>
                                            <form action="{% url 'change_status' application.pk %}" method="post">
                                                {% csrf_token %}
                                                {% bootstrap_form form %}
                                                <input type="submit" value="Сохранить">
                                            </form>
                                        </td>
                                        <td>{% for subject in application.subjects.all %}{{ subject.name }}
                                            {% if not forloop.last %},
                                            {% endif %} {% endfor %}</td>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}