<nav class="navbar">
    <div class="logo">
        <img class="logo_img"
             src="https://static.tildacdn.com/tild6361-3836-4239-b236-616132326661/25d594f2-f40e-45e9-9.png"></div>
    <ul class="nav-links">
        <input type="checkbox" class="burger_input" id="checkbox_toggle"/>
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            <li><a href="{% url 'main' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url  'profile' user.pk %}">Мой профиль</a></li>
            <li><a href="{% url  'logout' %}">Выйти</a></li>
            {% else %}
            <li><a href="{% url  'login' %}">Войти</a></li>
            {% endif %}
        </div>
    </ul>
</nav>